Library/
Temp/
Obj/
Logs/
UserSettings/
MemoryCaptures/
Build/
Builds/
Assets/AssetStoreTools*
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.opendb
*.VC.db
.DS_Store
Thumbs.db
sysinfo.txt
crashlytics-build.properties
*.apk
*.aab
*.unitypackage
*.app
.plastic/
.vscode/
ignore.conf
